body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #f8f8f8;
}


.sidebar {
    width: 240px;
    min-height: 100vh;
    background-color: #1a1a1a;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.6);
}

/* Conteúdo */
.main-content {
    background-color: #121212;
    color: #f8f8f8;
    overflow-y: auto;
}

/* Tabela escura */
.table th, .table td {
    color: #f8f8f8;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #262626;
}


/* Oculta sidebar no mobile */
@media (max-width: 768px) {
    .sidebar {
        display: none;
        position: absolute;
        z-index: 9999;
        height: 100vh;
    }

        .sidebar.show {
            display: block;
        }
}
