/*#region global*/

:root {
    --yellow: #FFD700;
    --dark: #040404;
    --light: #f8f9fa;
    --fundo-principal: #1a1a1a;
    --fundo-card: #FFD700;
    --borda-titulo: #ccc;
    --cor-texto-card: #333;
    --cor-check: #008000;
    --top-spacing: 40px;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: var(--light);
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita rolagem horizontal */
}

/*#endregion*/



/*#region página inicial - home*/

.main-container {
    background-image: url('/img/backgroung.png');
    background-size: 100%; /* menor “zoom”, mais área visível */
    background-position: center bottom;
    background-repeat: no-repeat;
    min-height: 110vh;
    padding-top: var(--top-spacing);
    display: flex;
    flex-direction: column;
    position: relative;
}

.navbar {
    background-color: var(--yellow);
    border-bottom: 2px solid var(--yellow);
    width: 100%;
    margin-top: 9vh;
}

.navbar-brand span {
    src: url('../Garagem75-main/fonts/Haulage-Commercial-W00-Striped.ttf');
    font-size: 1.5rem;
    color: var(--dark);
    margin-left: 60px;
}

.nav-link {
    color: var(--dark) !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.navbar .navbar-nav {
    width: 70%;
    justify-content: space-between;
}

.nav-link:hover {
    color: var(--light) !important;
}

/* Estilo para a logo do gato sobreposta */
.logo-gato-overlay {
    position: absolute; /* Posição absoluta em relação ao .main-container */
    top: -60px; /* Coloca no topo do main-container */
    left: 200px; /* Alinha à esquerda do main-container */
    height: 400px; /* Tamanho da logo, ajuste conforme necessário */
    z-index: 1000 !important; /* Garante que a logo fique sobreposta ao navbar (o z-index do navbar é 1020) */

    transform: translateY(-40px); /* Move a logo 50px para cima, metade do tamanho dela, para o efeito de sobreposição */
}

@media (max-width: 768px) {
    .logo-gato-overlay {
        display: none;
    }
}

.hero-section {
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: flex-end; /* empurra o conteúdo para baixo */
    justify-content: center;
    text-align: center;
    padding-bottom: 20px; /* controla o espaçamento do chão */
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.hero-content h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3.5rem;
    color: var(--yellow);
    margin-bottom: 0.5rem;
    text-align: center;
}

.hero-content p {
    font-size: 1.25rem;
    max-width: 600px;
    text-align: center;
    margin: auto;
}

.btn-orcamento {
    background-color: var(--yellow);
    color: var(--dark);
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 50px;
    font-size: 1.1rem;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    display: inline-flex;
    align-items: center;
}

    .btn-orcamento:hover {
        transform: scale(1.05);
        color: var(--dark);
        background-color: var(--light);
    }
/*#endregion*/




/*#region primeira tela - quem somos*/
.titulo-quem-somos {
    font-family: sans-serif;
    font-size: 40px;
    margin-bottom: 3rem;
    padding-bottom: 0.5rem;
    /* linha branca */
    border-bottom: 1px solid #fff;
    display: inline-block;
}

.texto-historia {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #f0f0f0;
    line-height: 1.7;
    letter-spacing: 0.3px;
    max-width: 70ch;
    text-align: left !important;
}

/*#endregion*/




/*#region segunda tela */
.titulo-servicos {
    font-family: sans-serif;
    font-size: 40px;
    margin-bottom: 3rem;
    padding-bottom: 0.5rem;
    /* linha branca */
    border-bottom: 2px solid var(--borda-titulo);
    display: inline-block;
}


.card-servico {
    background-color: var(--fundo-card);
    border: none;
    border-radius: 20px;
    /* pra logo não cubrir o card */
    position: relative;
    z-index: 2;
}

    .card-servico:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
    }

    .card-servico .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #000;
        margin-bottom: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .card-servico .card-img-top {
        width: 100%;
        height: auto;
        display: block;
        border-top: 2px solid #333;
        padding: 15px;
    }

    .card-servico ul {
        color: var(--cor-texto-card);
        font-size: 1rem;
        padding-left: 1.5rem !important;
    }

    .card-servico li {
        margin-bottom: 0.5rem;
    }

.icone-check {
    color: var(--cor-check);
    font-weight: bold;
    margin-right: 5px;
}


/* logo no card */
.mascote-sylvester {
    position: absolute;
    /* posiciona no topo e à direita */
    top: 1250px;
    right: 230px;
    width: 250px; /* ajuste o tamanho conforme desejar */
    height: auto;
    /* a logo fique acima dos cards */
    z-index: 3;
}

    .mascote-sylvester:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
    }


@media (max-width: 992px) {
    /* esconde a logo em telas menores para não atrapalhar o layout */
    .mascote-sylvester {
        display: none;
    }
}

/*#endregion*/



/*#region botao-fixo*/
html {
    scroll-behavior: smooth;
}

#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: var(--yellow);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 24px;
    line-height: 1;
    z-index: 1000;
    opacity: 0.9;
    transition: opacity 0.3s;
}

    #backToTopBtn:hover {
        opacity: 1;
        background-color: #e09700;
    }

/*#endregion*/




/*#region area-restrita*/


.login-card {
    max-width: 800px;
    width: 90%;
}

.h2 {
    border-bottom: 1px solid #fff;
    display: inline-block;
}

.form-control-lg {
    height: 55px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    .form-control-lg::placeholder {
        color: #999;
    }

.form-label {
    color: #333 !important;
    margin-bottom: 0.25rem;
}

.btn-dark {
    background-color: #000;
    border-color: #212529 !important;
    font-weight: bold;
    border-radius: 50px;
}

    .btn-dark:hover {
        color: var(--dark);
        background-color: var(--light);
        scale: 1.1;
        transition: ease 0.5s;
    }


/*#endregion*/


.titulo-avaliacoes {
    font-family: sans-serif;
    font-size: 40px;
    margin-left: 20rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    /* linha branca */
    border-bottom: 2px solid var(--borda-titulo);
    display: inline-block;
}


/* #region footer */
.footer-link {
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
    line-height: 2.2;
    font-weight: 500;
}


/* ====== SEÇÃO CONTINUE NAVEGANDO ====== */
.footer .list-unstyled li a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease;
}

    .footer .list-unstyled li a:hover {
        color: #ffffff; /* muda a cor ao passar o mouse */
        transform: translateX(5px); /* move levemente para a direita */
    }

/* Estilo para o contêiner dos ícones */
.social-icons {
    margin-top: 1rem; /* Adiciona um espaço acima do grupo de ícones */
}

    /* Estilo para cada link (<a>) que envolve o ícone */
    .social-icons a {
        color: #000; /* Cor inicial do ícone: preto */
        margin: 5 5 5px; /* Espaçamento de 15px nas laterais de cada ícone */
        text-decoration: none; /* Remove o sublinhado padrão dos links */
        display: inline-block; /* Necessário para que a animação de 'transform' funcione bem */
    }

    /* Estilo para o elemento do ícone (<i>) */
    .social-icons i {
        font-size: 25px; /* Tamanho do ícone */
        transition: transform 0.3s ease, color 0.3s ease; /* Animação suave para cor e tamanho */
    }

        /* Efeito ao passar o mouse sobre o ícone */
        .social-icons i:hover {
            color: #000000; /* Muda a cor para um cinza escuro */
            transform: scale(1.2); /* Aumenta o tamanho do ícone em 20% */
        }



.footer-link:hover {
    color: #333;
    text-decoration: underline;
}

.social-icons a {
    color: #000;
    margin-right: 15px;
    transition: color 0.3s;
}

    .social-icons a:hover {
        color: #fff;
    }

.footer p {
    color: #000;
}


/*#endregion*/
